<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin Form</title>
    </head>
    <body>
        <h1>Admin Form</h1>
        
        <form action="/users/member-form" method="POST">
            <label for="memberPassword">
                Member Password:
                <input type="text" name="memberPassword" id="memberPassword" required>
            </label>

            <button>Become Member</button>
        </form>
        
    </body>
</html>